body {
    //font-family: 'snake holdiay', sans-serif;
    margin: 0;
    padding: 0;
    background: url("snake3.png") no-repeat center center fixed; /* Image background */
    background-size: cover; /* Ensure the background covers the entire screen */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff; /* White text color for better contrast */
}

.song-myung-regular {
  font-family: "Song Myung", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
    text-align: center;
    //background: rgba(0, 0, 0, 0.5); /* Optional: Adds a semi-transparent background to container for better readability */
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

h1 {
    font-size: 3vw;
    color: ; /* Red text color */
    font-weight: bold; /* Bold text */
}

#reportButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff4b4b;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    position:absolute;
}

#reportButton:hover {
    background-color: #ff0000;
}
